<div class="row">
  <div class="columns large-4">
    <div class="field">
      <%= form.select :phone_country, phone_country_options(form.object.phone_country), { id: "omniauth_country", include_blank: true }, class: "country-select" %>
    </div>
  </div>
  <div class="columns large-8">
    <div class="field">
      <%= form.number_field :phone_number %>
      <span id="phone_number_invalid_message" hidden>
      <%= t('decidim.half_signup.quick_auth.sms.invalid_phone') %>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns large-centered">
    <%= form.hidden_field :auth_method, value: "sms" %>
    <%= form.submit t(".submit"), class:"button expanded" %>
  </div>
</div>

<%= javascript_pack_tag "decidim_select_country" %>
