<div class="half-signup-methods-item">
  <div class="text-center gray-image">
    <svg aria-label="<%= t(".sms") %>" role="img" viewBox="0 0 512 512">
      <title><%= t(".sms") %></title>
      <use href="<%= asset_pack_path "media/images/chatbubble-sms-outline.svg" %>#chatbubble-sms-outline">
    </svg>
  </div>
  <div class="button-wrapper">
    <% if modify_button_text %>
      <%= link_to t("with_sms", scope: "decidim.half_signup.quick_auth.options"), decidim_half_signup.users_quick_auth_sms_path(redirect_url: redirect_path), class: "button expanded" %>
    <% else %>
      <%= link_to t("sms", scope: "decidim.half_signup.quick_auth.options"), decidim_half_signup.users_quick_auth_sms_path(redirect_url: redirect_path), class: "button expanded" %>
    <% end %>
  </div>
</div>