<div class="content margin-top-4">
  <div class="wraper">
    <div class="row collapse">
      <div class="columns small-12 smallmedium-10 medium-8 large-6 text-center page-title margin-top-3">
        <h1><%= t("welcome", scope:"decidim.half_signup.quick_auth", organization: current_organization.name).html_safe %></h1>
      </div>
      <div class="row">
        <div class="columns small-12 smallmedium-10 medium-8 large-6 small-centered margin-bottom-3" id="select-wrapper">
          <div class="card">
            <div class="card__content">
            <h2 class="text-center"><%= t(".enter_phone") %></h2>
            <div class="columns small-10 small-offset-1 text-center margin-top-2 margin-bottom-2">
              <p><%= t("instruction", scope:"decidim.half_signup.quick_auth.sms") %></p>
            </div>
              <%= decidim_form_for(@form, url: users_quick_auth_verification_path, method: :post) do |form| %>
                <%= render partial: "phone_form", locals: { form: form } %>
              <% end %>
              <% if handlers_count > 1 %>
                <p class="text-center">
                  <%= link_to t("another_method", scope:"decidim.half_signup.quick_auth"), decidim_half_signup.users_quick_auth_path, class: "text-center" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
