
<div class="row collapse">
  <div class="columns large-8 large-centered text-center page-title">
    <h1><%= t("welcome", scope:"decidim.half_signup.quick_auth", organization: current_organization.name).html_safe %></h1>
  </div>
</div>
<div class="columns large-4 medium-centered">
  <div class="card">
    <div class="card__content">
      <div class="columns medium-7 large-10 medium-centered">
        <h2 class="text-center"><%= t("enter_code", scope: "decidim.half_signup.quick_auth") %></h2>
        <div class="columns small-10 small-offset-1">
          <p class="text-center">
            <%= t("instruction", scope:"decidim.half_signup.quick_auth", contact_info: @info) %>
          <%= link_to t(".use_another_method"),  decidim_half_signup.users_quick_auth_path %>
          </p>
        </div>
        <%= decidim_form_for(@form, url: users_quick_auth_authenticate_path, method: :post) do |form| %>
          <div class="row">
            <%= render partial: "development_hint" if Rails.env.development? || Rails.env.test? %>
            <%= form.text_field :verification %>
            <%= form.submit t(".submit"), class:"button expanded" %>
          </div>
        <% end %>
      </div>

      <p class="text-center"><%= t(".not_receive") %></p>
      <p class="text-center">
        <%= link_to t(".resend_code"), users_quick_auth_resend_path %>
      </p>
    </div>
  </div>
</div>
